.board {
	width: 420px;
	height: 420px;
	display: flex;
	flex-wrap: wrap;
  }
  
  .square {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .piece {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
  }

  .piece:hover {
	background-color: rgba(123, 125, 123, 0.247);
	cursor: pointer;
  }
  
  .square.white {
	background-color: #fff;
  }
  
  .square.black {
	background-color: #000;
  }

  .square.available {
	background-color: rgba(131, 114, 93, 0.678);
  }
  